.DS_Store
.Trashes
dump.rdb
*.sublime-workspace
*.sublime-project
config/local.php
assets/
*/images/avatar/
*/images/activity/
*/images/thread/
*/images/threadReply/
*/images/preview/*/
!*/images/preview/docs/
