Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# force non-www domain
RewriteCond %{HTTP_HOST} ^www\.ammanhs\.com$ [NC]
RewriteRule (.*) http://ammanhs.com/$1 [R=301,L]

# Make backend accessible via url: http://site/backend.
RewriteRule ^sysadmin& backend.php

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule ^.*$ /index.php [L]