@-webkit-keyframes rotating-left {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes rotating-right {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes rotating-left {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-moz-keyframes rotating-right {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-o-keyframes rotating-left {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}
@-o-keyframes rotating-right {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0deg); }
}
@keyframes rotating-left {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes rotating-right {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

#welcome-box {
	position: relative;
	overflow: hidden;
}

.gear {
	position: absolute;
}

#gear-1 {
	top: 200px;
	left: 220px;
	-webkit-animation: rotating-left 120s linear infinite;
	-moz-animation: rotating-left 120s linear infinite;
	-o-animation: rotating-left 120s linear infinite;
	animation: rotating-left 120s linear infinite;
}

#gear-2 {
	left: 10px;
	top: 12px;
	-webkit-animation: rotating-right 120s linear infinite;
	-moz-animation: rotating-right 120s linear infinite;
	-o-animation: rotating-right 120s linear infinite;
	animation: rotating-right 120s linear infinite;
}

#gear-3 {
	top: 280px;
	left: -47px;
	-webkit-animation: rotating-left 70s linear infinite;
	-moz-animation: rotating-left 70s linear infinite;
	-o-animation: rotating-left 70s linear infinite;
	animation: rotating-left 70s linear infinite;
}

#gear-4 {
	top: -47px;
	right: -47px;
	-webkit-animation: rotating-left 70s linear infinite;
	-moz-animation: rotating-left 70s linear infinite;
	-o-animation: rotating-left 70s linear infinite;
	animation: rotating-left 70s linear infinite;
}