@font-face {
	font-family: GE SS Light;
	src: url('../fonts/GESSLight.otf');
}

@font-face {
	font-family: GE SS Medium;
	src: url('../fonts/GESSMedium.otf');
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    direction: rtl;
}

body {
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 11pt 'GE SS Medium',Arial;
	background: #FFFFFF;
    line-height: 15px;
    color: #333333;
}

#page {
    padding-top: 60px;
    font-family: Arial, sans-serif;
}
#footer div{
    display: inline-table;
    width: 50%;
    float:right;
}
#content{
    line-height: 20px;
    font-size: 16px;
}
.popup-form{
	margin: 12px;
}
.popup-form .error{
	font-size: 12px;
}
#signup-lable{
	text-shadow: 0px 0px 1px rgba(82, 168, 236, 0.796875);
}
#header-avatar{
	border: 1px solid #BBB;
    margin: 3px 10px;
}
.user-icons{
    padding: 10px !important;
    font-size: 18px;
}

@-webkit-keyframes wipe{
	0% { -webkit-mask-position: -90px 0; }
	100% { -webkit-mask-position: 230px 0; }
}
.flash:hover{
	-webkit-animation: wipe 1s;
	-webkit-mask-position: -90px 0px;
	-webkit-mask-size: 320px 200px;
	-webkit-mask-image: -webkit-gradient(linear, 61 47, 15 15, from(rgb(0, 0, 0)), color-stop(0.1, rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
}
.navbar-search{
    padding-left: 20px;
}
#header-search{
    padding-left: 24px;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.breadcrumbs, .navbar-inner{
    font-family: 'GE SS Medium', Arial;
    font-weight: bold;
}

.ge-ss {
    font-family: 'GE SS Medium', Arial;
    font-weight: bold;
}

#user-header .tooltip{
    top: 40px !important;
}

#connect-modal .modal-body{
    overflow: hidden !important;
}