@font-face {
	font-family: GE SS Light;
	src: url('../fonts/GESSLight.otf');
}

@font-face {
	font-family: GE SS Medium;
	src: url('../fonts/GESSMedium.otf');
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    direction: rtl;
}

#page {
    padding-top: 60px;
    font-family: Arial, sans-serif;
}
#footer div{
    display: inline-table;
    width: 50%;
    float:right;
    padding-bottom: 20px;
}
#content{
    line-height: 20px;
    font-size: 16px;
}
form .help-inline{
	font-size: 11px;
}
#signup-lable{
	text-shadow: 0px 0px 1px rgba(82, 168, 236, 0.796875);
}
#header-avatar{
	border: 1px solid #BBB;
    margin: 3px 10px;
}
.user-icons{
    padding: 10px !important;
    font-size: 18px;
}

@-webkit-keyframes wipe{
    0% { -webkit-mask-position: -90px 0; }
    100% { -webkit-mask-position: 230px 0; }
}
@-moz-keyframes wipe{
    0% { -moz-mask-position: -90px 0; }
    100% { -moz-mask-position: 230px 0; }
}
@-o-keyframes wipe{
    0% { -o-mask-position: -90px 0; }
    100% { -o-mask-position: 230px 0; }
}
@keyframes wipe{
    0% { mask-position: -90px 0; }
    100% { mask-position: 230px 0; }
}
.flash:hover{
	-webkit-animation: wipe 1s;
    -webkit-mask-position: -90px 0px;
    -webkit-mask-size: 320px 200px;
    -webkit-mask-image: -webkit-gradient(linear, 61 47, 15 15, from(rgb(0, 0, 0)), color-stop(0.1, rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
    -moz-animation: wipe 1s;
    -moz-mask-position: -90px 0px;
    -moz-mask-size: 320px 200px;
    -moz-mask-image: -moz-gradient(linear, 61 47, 15 15, from(rgb(0, 0, 0)), color-stop(0.1, rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
    -o-animation: wipe 1s;
    -o-mask-position: -90px 0px;
    -o-mask-size: 320px 200px;
    -o-mask-image: -o-gradient(linear, 61 47, 15 15, from(rgb(0, 0, 0)), color-stop(0.1, rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
    animation: wipe 1s;
    mask-position: -90px 0px;
    mask-size: 320px 200px;
    mask-image: gradient(linear, 61 47, 15 15, from(rgb(0, 0, 0)), color-stop(0.1, rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
}
.navbar-search{
    padding-left: 20px;
}
#header-search{
    padding-left: 24px;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.breadcrumbs, .navbar-inner{
    font-family: 'GE SS Medium', Arial;
    font-weight: bold;
}

.ge-ss{
    font-family: 'GE SS Medium', Arial;
    font-weight: bold;
    text-decoration: none !important;
    font-style: normal;
}

.ge-ss-light, .btn{
    font-family: 'GE SS Light', Arial;
    text-decoration: none !important;
    font-style: normal;
}

#user-header .tooltip{
    top: 40px !important;
}

#login-ammanhs{
    display: none;
}

#login-ammanhs-title, #join-ammanhs-title{
    text-align: center;
}

#join-ammanhs-title > div{
    font-size: 12px;
}
form{
    margin: 10px 0;
}
#user-header form{
    margin: 10px;
}
#login-ammanhs-title a{
    font-size: 12px;
}
#follow-us{
    border-top: 1px solid #BBB;
    margin-top: 10px;
    padding-top: 10px;
}
.social-buttons-title{
    display: inline-block;
    line-height: 46px;
    vertical-align: text-bottom;
}
.social-buttons{
    display: inline-block;
}
.facebook-button, .twitter-button, .google-button{
    background: url('/images/common/social_buttons.png') no-repeat;
    height: 46px;
    width: 46px;
    display: inline-table;
}
.facebook-button{
    background-position: 0 0;
}
.twitter-button{
    background-position: -48px 0;
}
.google-button{
    background-position: -95px 0;
}
.add-thread-button{
    padding: 10px !important;
}
.add-thread-button icon{
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5px;
}
#ammahs-sidebar-guide div{
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 24px;
}
.english-field{
  direction: ltr;
}
#about-us{
    font-size: 20px;
    line-height: 28px;
}
#about-us a{
    text-decoration: none;
}
